*{
    box-sizing: border-box;
}
body{
    /*border: 10px solid red; */
    display: flex;
    flex-direction: column;
    /*
    height: 100vh;
    */
    font-family: "Roboto", sans-serif;
}


footer{
   /* border: 10px solid saddlebrown; */
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

main{
   /* border: 10px solid greenyellow; */
    display: flex;
    flex-direction: column;

}

.call-to-action{

    /* border: 5px dotted indigo; */
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    align-items: center;
    gap: 30px;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 10px;

}

.the-quote{
   /* border: 5px dotted peru; */
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;

}

.menu-container{
   /* border: 5px dotted blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.menu-images{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;

}

.header-container{
   /* border: 10px solid hotpink; */
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;;

}

.hero-image{
    object-fit: fill;
    width: 400px;
    height: 200px;

}

.logo-and-nav{
  /*border: 5px dotted teal; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;




   

}

ul{
    display: flex;
    gap: 30px;
    list-style-type: none;

}

h1{
    font-size: 24px ;

}

.hero-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.inner-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 5px solid olivedrab; */
    gap: 50px;
    flex-wrap: wrap;
    flex: 1;


}

.menu-item{
  /*  border: 5px solid rgb(0, 255, 234); */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;

    

    padding-left: 100px;
    padding-right: 100px;
    text-align: center; 
}

.singup-btn{

    border-radius: 5px;
    background-color: #3882F6;
    border: solid #3882F6;
    color: #F9FAF8;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.author-name{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-weight: bold;
    margin-right: 20vw;
    margin-left: 20vw;
}

blockquote{
    display: flex;
    justify-content: center;
   /* border: 5px solid springgreen; */
    margin-right: 30vw;
    margin-left: 30vw;
    font-style: italic;
}

.outline{
    border: solid #F9FAF8;

}

.hero-text{
   /* border: 5px solid brown; */
    width: 500px;


}

.intro-text{
   /* border: 5px dotted cornsilk; */
    padding-right: 50px;

}

a{
    color: #F9FAF8;
    text-decoration: none;

}


a:hover{
    text-decoration: underline wavy chartreuse;
    cursor: pointer;
    color: #F9FAF8;
}

h2, h3{
    text-decoration: underline wavy hotpink;
    font-style: italic;
}

blockquote, h3{
    color: #1F2937;
}