*{
    box-sizing: border-box;
}
body{
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}


footer{
    border: 10px solid saddlebrown;
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

main{
    border: 10px solid greenyellow;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.call-to-action{

    border: 5px dotted indigo;

}

.the-quote{
    border: 5px dotted peru;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;

}

.menu-container{
    border: 5px dotted blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.menu-images{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;

}

.header-container{
    border: 10px solid hotpink;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;;

}

.hero-image{
    object-fit: fill;
    width: 500px;
    height: 200px;

}

.logo-and-nav{
    border: 5px dotted teal;
    display: flex;
    align-items: center;
   

}
ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-left: auto;
    padding-right: 30px;
}

h1{
    font-size: 24px ;

}

.hero-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.inner-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid olivedrab;
    gap: 50px;
    flex-wrap: wrap;


}

.menu-item{
    border: 5px solid rgb(0, 255, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}


